apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "vrt.fullname" . }}-config
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "vrt.labels" . | nindent 4 }}
data:
  # API Configuration
  REACT_APP_API_URL: {{ .Values.ui.env.REACT_APP_API_URL | quote }}
  VRT_VERSION: {{ .Values.ui.env.VRT_VERSION | quote }}
  POSTGRES_DB: {{ .Values.postgres.database | quote }}
  POSTGRES_USER: {{ .Values.postgres.username | quote }}
  POSTGRES_PORT: {{ .Values.postgres.port | quote }}
  BODY_PARSER_JSON_LIMIT: {{ .Values.api.env.BODY_PARSER_JSON_LIMIT | quote }}
  JWT_LIFE_TIME: {{ .Values.api.env.JWT_LIFE_TIME | quote }}
  LDAP_ENABLED: {{ .Values.api.env.LDAP_ENABLED | quote }}
  LDAP_TLS_NO_VERIFY: {{ .Values.api.env.LDAP_TLS_NO_VERIFY | quote }}
  {{- if .Values.ldap.enabled }}
  LDAP_URL: {{ .Values.ldap.url | quote }}
  LDAP_BIND_USER: {{ .Values.ldap.bindUser | quote }}
  LDAP_SEARCH_DN: {{ .Values.ldap.searchDN | quote }}
  LDAP_USERS_SEARCH_FILTER: {{ .Values.ldap.searchFilter | quote }}
  LDAP_ATTRIBUTE_FIRST_NAME: {{ .Values.ldap.attributeFirstName | quote }}
  LDAP_ATTRIBUTE_LAST_NAME: {{ .Values.ldap.attributeLastName | quote }}
  LDAP_ATTRIBUTE_MAIL: {{ .Values.ldap.attributeMail | quote }}
  {{- end }}
  {{- if .Values.elasticsearch.enabled }}
  ELASTIC_URL: {{ .Values.elasticsearch.url | quote }}
  {{- end }}
  {{- if .Values.awsS3.enabled }}
  AWS_REGION: {{ .Values.awsS3.region | quote }}
  AWS_S3_BUCKET_NAME: {{ .Values.awsS3.bucket | quote }}
  {{- end }}
